body{
  font-family: Calibri;
  font-size: 14px;
  background-color: #eeee;
  background-image: url('Forest.jpg');
}
h1{
  font-family: impact;
  font-size: 36px;
  color: blue;
}
#forms{
  border-radius: 5px;
  border:5px;
  background-color: #eeee;
  width: 250px;
  height: 200px;
  padding-top: 15px;
  margin-left: 41%;
  margin-top: 5%;


}

form input{
  width: 100px;
}
